<p><b>The99Names Project</b></p>
<p>“To God belong the most beautiful names, so call on Him thereby...” <a href="http://quran.com/7/180" target="_blank">(Qur’an 7:180)</a></p>

<ul>
  <% @names.each do |name| %>
    <li><%= name.arabic_name %></li>
  <% end %>
</ul>
